* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 300px;
    height: 190px;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: #E5E1D8;
}

p {
    
}

body {
    display: grid;
    grid-template-rows: 120px 1fr;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: #E5E1D8;
    font-family: "Courgette";
    font-size: 1.3rem;
}

h1 {
    margin-bottom: 20px;
}

button {
    font-size: 1rem;
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    background-color: rgb(255, 215, 0);
    font-family: "Courgette";
    border: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    justify-content: center;
    gap: 20px;
    justify-items: center;
    padding-top: 40px;
    background-color: #A09F8D;
    height: 100vh;
}